body {
	width: 2800px;
	height: 1950px;
	background: url(background.jpg) ;
    background-repeat: no-repeat;
	}	
h1 {
    position: absolute;
    left: 1650px;
    top: 50px;
	white-space: nowrap;
	text-shadow: 2px 2px #FFFAFA;
	color: purple;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 600%;
}
p  {
    position: absolute;
    left: 1650px;
    top: 380px;
	white-space: nowrap;
	text-shadow: 2px 2px #FFFAFA;
	color: purple;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 320%;
}
img {
	position : absolute;
	left: 1750px;
	top:  800px;
}